<header>
  <div class="header-logo">
    <a href="/">FunDiary</a>
  </div>
</header>
<div class="about-main">
  <h2>FunDiaryとは</h2>
  <p>
    日記アプリケーションです。
    毎日投稿で、人生をより楽しく。
  </p>
<br>
<section class="wrapper">
    <div class="container">
        <div class="content">
            <h2 class="heading">FunDiary</h2>
            <div class="list">
                <div class="list-item">
                    <img src="/top16.jpg" class="image">
                    <div class="text"><b>日記投稿機能</b><br>気軽に書けるシンプルな日記。毎日１〜２分程度だから、我慢なしに続けられる。
                    日記に書いた事柄がどれだけ楽しかったかを評価して点数（0〜100）にしよう。　</div>
                </div>
                <div class="list-item">
                    <img src="/top18.jpg" class="image">
                    <div class="text"><b>アルバム表示</b><br>毎日の日記がアルバム風に表示されるから、見やすく使いやすい。どんどん日記を書いて
                    楽しい思い出を残を残そう！　　　　　　　<br>（画像選択で詳細ページへ）</div>
                </div>    
                <div class="list-item">
                    <img src="/top17.jpg" class="image">
                    <div class="text"><b>report機能</b><br>レポート機能で、日記の得点をカテゴリ別などに、集計して表示。
                    得点が高い月、低い月にはどの様な事があったのか、ふりかえってってみよう。　　　　　　　　　　　　　　　　
                    <%#実装中<br>（画像選択で詳細ページへ）%></div></div>
                </div>
            </div>
        </div>
    </div>
</section>
  </div>