<div class="main top-main2">
レポート機能は作成中です
<br>
※データーはダミーです
<br>
<h1>Category_ranking</h1>
<br>


<% @report3 = {'健康・運動':55,'健康・運動':60,'プライベート・家庭':70,'勉強・教養':80,'お金・経済':89,'健康・運動':40,'お金・経済':56,'勉強・教養':100,'勉強・教養':90,'お金・経済':80,
'健康・運動':85,'仕事・社会':66,'恋愛':60,'恋愛':70,'心・精神':35,'勉強・教養':20,'勉強・教養':10,'健康・運動':40,'お金・経済':80,'勉強・教養':50,'勉強・教養':70,'健康・運動':80,
'仕事・社会':52,'仕事・社会':59,'心・精神':30,'恋愛':20,'特別・その他':10,'勉強・教養':68,'特別・その他':21,'健康・運動':39,'お金・経済':98,} %>
<%= pie_chart @report3 %>
<br>
<br>
<br>
<br>
<br>
<h1>Score_ranking</h1>
<% @report2 = {'3/1':55,'3/2':60,'3/3':70,'3/4':80,'3/5':89,'3/6':40,'3/7':56,'3/8':100,'3/9':90,'3/10':80,
'3/11':85,'3/12':66,'3/13':60,'3/14':70,'3/15':35,'3/16':20,'3/17':10,'3/18':40,'3/19':80,'3/20':50,'3/21':70,'3/22':80,
'3/23':52,'3/24':59,'3/25':30,'3/26':20,'3/27':10,'3/28':68,'3/29':21,'3/30':39,'3/31':98,} %>
<%= line_chart @report2 %>

</div>
